*
# !.py\ files/protimerV1.py
# !.py\ files/protimerV2.py
# !.py\ files/protimerV3.py
# !.py\ files/protimerV3.1.py
# !.py\ files/protimerV1 with different fonts.py
# !ProTimerV1.dmg
# !ProTimerV2.dmg
# !ProTimerV3.dmg
# !ProTimerV3.1.dmg
# !ProTImerV1 with different fonts.dmg
!pyfiles
!README.md